[docker-ce-stable]
name=Docker CE Stable - $basearch
baseurl={{ docker_yum_repo_url }}/$releasever/$basearch/stable
enabled=1
gpgcheck={% if software_repo_skip_gpg | bool %}0{% else %}1{% endif %}
gpgkey=https://mirrors.aliyun.com/docker-ce/linux/centos/gpg

[docker-ce-stable-debuginfo]
name=Docker CE Stable - Debuginfo $basearch
baseurl={{ docker_yum_repo_url }}/$releasever/debug-$basearch/stable
enabled=0
gpgcheck={% if software_repo_skip_gpg | bool %}0{% else %}1{% endif %}
gpgkey=https://mirrors.aliyun.com/docker-ce/linux/centos/gpg

[docker-ce-stable-source]
name=Docker CE Stable - Sources
baseurl={{ docker_yum_repo_url }}/$releasever/source/stable
enabled=0
gpgcheck={% if software_repo_skip_gpg | bool %}0{% else %}1{% endif %}
gpgkey=https://mirrors.aliyun.com/docker-ce/linux/centos/gpg

[docker-ce-test]
name=Docker CE Test - $basearch
baseurl={{ docker_yum_repo_url }}/$releasever/$basearch/test
enabled=0
gpgcheck={% if software_repo_skip_gpg | bool %}0{% else %}1{% endif %}
gpgkey=https://mirrors.aliyun.com/docker-ce/linux/centos/gpg

[docker-ce-test-debuginfo]
name=Docker CE Test - Debuginfo $basearch
baseurl={{ docker_yum_repo_url }}/$releasever/debug-$basearch/test
enabled=0
gpgcheck={% if software_repo_skip_gpg | bool %}0{% else %}1{% endif %}
gpgkey=https://mirrors.aliyun.com/docker-ce/linux/centos/gpg

[docker-ce-test-source]
name=Docker CE Test - Sources
baseurl={{ docker_yum_repo_url }}/$releasever/source/test
enabled=0
gpgcheck={% if software_repo_skip_gpg | bool %}0{% else %}1{% endif %}
gpgkey=https://mirrors.aliyun.com/docker-ce/linux/centos/gpg

[docker-ce-nightly]
name=Docker CE Nightly - $basearch
baseurl={{ docker_yum_repo_url }}/$releasever/$basearch/nightly
enabled=0
gpgcheck={% if software_repo_skip_gpg | bool %}0{% else %}1{% endif %}
gpgkey=https://mirrors.aliyun.com/docker-ce/linux/centos/gpg

[docker-ce-nightly-debuginfo]
name=Docker CE Nightly - Debuginfo $basearch
baseurl={{ docker_yum_repo_url }}/$releasever/debug-$basearch/nightly
enabled=0
gpgcheck={% if software_repo_skip_gpg | bool %}0{% else %}1{% endif %}
gpgkey=https://mirrors.aliyun.com/docker-ce/linux/centos/gpg

[docker-ce-nightly-source]
name=Docker CE Nightly - Sources
baseurl={{ docker_yum_repo_url }}/$releasever/source/nightly
enabled=0
gpgcheck={% if software_repo_skip_gpg | bool %}0{% else %}1{% endif %}
gpgkey=https://mirrors.aliyun.com/docker-ce/linux/centos/gpg
