[kubernetes]
name=Kubernetes
{% if release_bump %}
baseurl={{ kubernetes_new_repo_url }}/v{{ kube_base_version }}/rpm/
{% else %}
baseurl={{ kubernetes_legacy_yum_repo_url }}/
{% endif %}
enabled=1
gpgcheck=0
