[kubernetes]
name=Kubernetes
{% if release_bump %}
baseurl=https://mirrors.aliyun.com/kubernetes-new/core/stable/v{{ kube_base_version }}/rpm/
{% else %}
baseurl=https://mirrors.aliyun.com/kubernetes/yum/repos/kubernetes-el7-x86_64/
{% endif %}
enabled=1
gpgcheck=0
