deb https://mirrors.aliyun.com/debian/ {{ ansible_lsb['codename'] }} main non-free contrib
deb-src https://mirrors.aliyun.com/debian/ {{ ansible_lsb['codename'] }} main non-free contrib
deb https://mirrors.aliyun.com/debian-security/ {{ ansible_lsb['codename'] }}-security main
deb-src https://mirrors.aliyun.com/debian-security/ {{ ansible_lsb['codename'] }}-security main
deb https://mirrors.aliyun.com/debian/ {{ ansible_lsb['codename'] }}-updates main non-free contrib
deb-src https://mirrors.aliyun.com/debian/ {{ ansible_lsb['codename'] }}-updates main non-free contrib
deb https://mirrors.aliyun.com/debian/ {{ ansible_lsb['codename'] }}-backports main non-free contrib
deb-src https://mirrors.aliyun.com/debian/ {{ ansible_lsb['codename'] }}-backports main non-free contrib

# deb https://mirrors.aliyun.com/kubernetes/apt/ kubernetes-xenial main
deb http://mirrors.ustc.edu.cn/kubernetes/apt kubernetes-xenial main
deb [arch=amd64] https://download.docker.com/linux/debian {{ ansible_lsb['codename'] }} stable
