deb https://mirrors.aliyun.com/ubuntu/ {{ ansible_lsb['codename'] }} main restricted universe multiverse
deb-src https://mirrors.aliyun.com/ubuntu/ {{ ansible_lsb['codename'] }} main restricted universe multiverse

deb https://mirrors.aliyun.com/ubuntu/ {{ ansible_lsb['codename'] }}-security main restricted universe multiverse
deb-src https://mirrors.aliyun.com/ubuntu/ {{ ansible_lsb['codename'] }}-security main restricted universe multiverse

deb https://mirrors.aliyun.com/ubuntu/ {{ ansible_lsb['codename'] }}-updates main restricted universe multiverse
deb-src https://mirrors.aliyun.com/ubuntu/ {{ ansible_lsb['codename'] }}-updates main restricted universe multiverse

# deb https://mirrors.aliyun.com/ubuntu/ {{ ansible_lsb['codename'] }}-proposed main restricted universe multiverse
# deb-src https://mirrors.aliyun.com/ubuntu/ {{ ansible_lsb['codename'] }}-proposed main restricted universe multiverse

deb https://mirrors.aliyun.com/ubuntu/ {{ ansible_lsb['codename'] }}-backports main restricted universe multiverse
deb-src https://mirrors.aliyun.com/ubuntu/ {{ ansible_lsb['codename'] }}-backports main restricted universe multiverse

deb [arch=amd64] https://mirrors.ustc.edu.cn/docker-ce/linux/ubuntu {{ ansible_lsb['codename'] }} stable
# deb https://mirrors.aliyun.com/kubernetes/apt/ kubernetes-{{ ansible_lsb['codename'] }} main
# deb https://mirrors.aliyun.com/kubernetes/apt/ kubernetes-xenial main
deb http://mirrors.ustc.edu.cn/kubernetes/apt kubernetes-xenial main
