deb {% if software_repo_skip_gpg | bool %}[trusted=yes] {% endif %}{{ ubuntu_repo_url }}/ {{ ansible_lsb['codename'] }} main restricted universe multiverse
deb-src {% if software_repo_skip_gpg | bool %}[trusted=yes] {% endif %}{{ ubuntu_repo_url }}/ {{ ansible_lsb['codename'] }} main restricted universe multiverse

deb {% if software_repo_skip_gpg | bool %}[trusted=yes] {% endif %}{{ ubuntu_repo_url }}/ {{ ansible_lsb['codename'] }}-security main restricted universe multiverse
deb-src {% if software_repo_skip_gpg | bool %}[trusted=yes] {% endif %}{{ ubuntu_repo_url }}/ {{ ansible_lsb['codename'] }}-security main restricted universe multiverse

deb {% if software_repo_skip_gpg | bool %}[trusted=yes] {% endif %}{{ ubuntu_repo_url }}/ {{ ansible_lsb['codename'] }}-updates main restricted universe multiverse
deb-src {% if software_repo_skip_gpg | bool %}[trusted=yes] {% endif %}{{ ubuntu_repo_url }}/ {{ ansible_lsb['codename'] }}-updates main restricted universe multiverse

# deb https://mirrors.aliyun.com/ubuntu/ {{ ansible_lsb['codename'] }}-proposed main restricted universe multiverse
# deb-src https://mirrors.aliyun.com/ubuntu/ {{ ansible_lsb['codename'] }}-proposed main restricted universe multiverse

deb {% if software_repo_skip_gpg | bool %}[trusted=yes] {% endif %}{{ ubuntu_repo_url }}/ {{ ansible_lsb['codename'] }}-backports main restricted universe multiverse
deb-src {% if software_repo_skip_gpg | bool %}[trusted=yes] {% endif %}{{ ubuntu_repo_url }}/ {{ ansible_lsb['codename'] }}-backports main restricted universe multiverse

deb [arch=amd64{% if software_repo_skip_gpg | bool %} trusted=yes{% endif %}] {{ docker_ubuntu_repo_url }} {{ ansible_lsb['codename'] }} stable
# deb https://mirrors.aliyun.com/kubernetes/apt/ kubernetes-{{ ansible_lsb['codename'] }} main
deb {% if software_repo_skip_gpg | bool %}[trusted=yes] {% endif %}{{ kubernetes_legacy_apt_repo_url }}/ kubernetes-xenial main
# deb http://mirrors.ustc.edu.cn/kubernetes/apt kubernetes-xenial main

{% if release_bump %}
deb [{% if software_repo_skip_gpg | bool %}trusted=yes{% else %}signed-by=/etc/apt/keyrings/kubernetes-{{ kube_base_version }}-apt-keyring.gpg{% endif %}] {{ kubernetes_new_repo_url }}/v{{ kube_base_version }}/deb/ /
{% endif %}
