apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: helm-toolbox
  namespace: {{ kubez_namespace }}
spec:
  selector:
    matchLabels:
      app: helm-toolbox
  replicas: 1
  serviceName: helm-toolbox
  template:
    metadata:
      labels:
        app: helm-toolbox
    spec:
      containers:
      - name: helm-toolbox
        imagePullPolicy: IfNotPresent
        image: {{ helm_image }}
      hostNetwork: true
      tolerations:
      - effect: NoSchedule
        operator: Exists
