apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ kafka_name }}
  namespace: {{ kafka_namespace }}
spec:
  channel: stable
  name: strimzi-kafka-operator
  source: operatorhubio-catalog
  sourceNamespace: olm
