apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
{% if enable_certificate_period | bool %}
certificateValidityPeriod: "{{ certificate_validity_period }}"
caCertificateValidityPeriod: "{{ ca_certificate_validity_period }}"
{% endif %}
