---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: pixiu-autoscaler
  namespace: pixiu-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: pixiu-autoscaler
rules:
  - apiGroups:
      - "*"
    resources:
      - horizontalpodautoscalers
      - deployments
    verbs:
      - get
      - watch
      - create
      - delete
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: pixiu-autoscaler
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: pixiu-autoscaler
subjects:
- kind: ServiceAccount
  name: pixiu-autoscaler
  namespace: pixiu-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    pixiu-autoscaler.hpa.controller: pixiu-autoscaler
  name: pixiu-autoscaler-controller
  namespace: pixiu-system
spec:
  replicas: 1
  selector:
    matchLabels:
      pixiu-autoscaler.hpa.controller: pixiu-autoscaler
  template:
    metadata:
      labels:
        pixiu-autoscaler.hpa.controller: pixiu-autoscaler
    spec:
      containers:
        - image: harbor.cloud.pixiuio.com/pixiuio/pixiu-autoscaler-controller:latest
          command:
            - pixiu-autoscaler-controller
            - --leader-elect=true
          imagePullPolicy: IfNotPresent
          name: pixiu-autoscaler-controller
      serviceAccountName: pixiu-autoscaler
